@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 2% 12%;
    --foreground: 210 40% 98%;

    --card: 0 2% 12%;
    --card-foreground: 210 40% 98%;

    --popover: 0 0% 8%;
    --popover-foreground: 210 40% 98%;

    --primary: 43 97% 56%;
    --primary-foreground: 0 2% 12%;

    --secondary: 210 20% 80%;
    --secondary-foreground: 210 40% 98%;

    --muted: 210 20% 80%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 210 20% 80%;
    --accent-foreground: 210 40% 98%;

    --destructive: 358 79% 60%;
    --destructive-foreground: 210 40% 98%;

    --border: 210 20% 80%;
    --input: 210 20% 80%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
