@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 10% 3.9%;
    --foreground: 0 0 98%;

    --card: 240 3.7% 15.9%;
    --card-foreground: 0 0 98%;

    --popover: 240 3.7% 15.9%;
    --popover-foreground: 0 0 98%;

    --primary: 42.62 91.04% 60.59%;
    --primary-foreground: 240 10% 3.9%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 0 0 98%;

    --muted-dark: 0 0% 0%;
    --muted-dark-foreground: 240 4.88% 83.92%;
    --accent-dark: 0 0% 10%;

    --accent: 240 3.03% 25.88%;
    --accent-foreground: 210 30% 80%;

    --destructive: 358 79% 60%;
    --destructive-foreground: 0 0% 0%;

    --border: 210 20% 80%;
    --input: 240 3.42% 45.88%;
    --ring: 240 4% 55.88%;

    --radius: 0.75rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.tiptap {
  padding: 0.5rem;
  border: 1px solid #c2ccd6;
  border-radius: 4px;
  min-height: 5.8rem;
}

.tiptap.insights {
  border: none;
}

.tiptap ol,
ul,
menu {
  padding-left: 1.5rem;
}

.tiptap p {
  min-height: 1.5rem;
}

.tiptap ol {
  list-style-type: decimal;
}

.tiptap ul {
  list-style-type: disc;
}

.tiptap h1 {
  @apply text-3xl font-bold;
}

.tiptap h2 {
  @apply text-2xl font-bold;
}

.tiptap h3 {
  @apply text-xl font-bold;
}

.tiptap h4 {
  @apply text-lg font-bold;
}

body {
  font-family: var(--font-onest);
}
